<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                서버 점검 설정
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="la la-gear"></i>
									</span>
                            <h3 class="m-portlet__head-text">
                                번들 아이디 조회 및 수정
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <span *ngIf="bundleIdData == ''">번들아이디가 존재 하지 않습니다.</span>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" *ngIf="bundleIdData != ''">
                            <tbody>
                            <tr *ngFor="let p of bundleIdData;">
                                <td style="width:20%; text-align: center; font-weight: 600;"><p style="padding-top:3px; margin:0;">Bundle ID</p></td>
                                <td style="width:80%; text-align: left;"><span id="sty_bundle">{{p.bundleID}}</span> <button type="button" class="btn btn-primary btn-sm m--margin-left-20" (click)="setEditOpen(modifyBundleId)" *ngIf="isBundleModify">수정</button> <button type="button" class="btn btn-danger btn-sm m--margin-left-20" (click)="setBundleID(newBundleID)" *ngIf="!isBundleModify">재시도</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="la la-gear"></i>
									</span>
                            <h3 class="m-portlet__head-text">
                                Maintenance Date and Time
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <span *ngIf="serverInspectData == ''">Date가 설정되지 않았습니다.</span>
                            <div class="table-responsive">
                            <table class="table table-bordered table-hover" *ngIf="serverInspectData != ''">
                                <thead>
                                    <tr>
                                        <th>_id</th>
                                        <th>Region</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of serverInspectData;">
                                        <td style="min-width:200px;word-break: break-all;">{{p._id}}</td>
                                        <td style="min-width:80px;">{{p.descRegion}}</td>
                                        <td style="min-width:150px;">{{p.startTime}}</td>
                                        <td style="min-width:150px;">{{p.endTime}}</td>
                                        <td style="min-width:60px;"><span class="m-badge m-badge--brand m-badge--wide">{{p.descState }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="la la-gear"></i>
									</span>
                            <h3 class="m-portlet__head-text">
                                Set Data and Time
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Region
                            </label>
                            <div class="col-lg-7 col-md-9 col-sm-12">
                                <select class="form-control m-select2" id="m_select2_1" name="param" style="width:100%;" #serverStat_region>
                                    <option *ngFor="let p of gameInfoData[0]?.REGION_CODE_LIST; let i=index" [value]="p.Value">{{p.DescName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Set Time</label>
                            <div class="col-lg-7 col-md-9 col-sm-12">
                                <span class="m-form__help">Start Data-Time</span>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly  id="m_datetimepicker_3_1" #serverStat_start/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                    </div>
                                </div>
                                <div class="m--space-10"></div>
                                <span class="m-form__help">End Data-Time</span>
                                <div class="input-group date">
                                    <input type="text" class="form-control m-input" readonly  id="m_datetimepicker_3_2" #serverStat_end>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                State
                            </label>
                            <div class="col-lg-7 col-md-9 col-sm-12">
                                <select class="form-control m-select2" id="m_select2_2" name="param" style="width:100%;" #serverStat_state>
                                    <option value="1">오픈</option>
                                    <option value="2">내부 오픈</option>
                                    <option value="128">닫음</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Message
                            </label>
                            <div class="col-lg-7 col-md-9 col-sm-12">
                                <textarea class="form-control m-input" rows="2" placeholder="Reason is.." value=" " #serverStat_reason></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot">
                        <div class="row">
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="button" class="btn btn-success"
                                        (click)="setServerInspectData(serverStat_region.value, serverStat_start.value,
                                            serverStat_end.value, serverStat_state.value, serverStat_reason.value)" [disabled]="serverStat_start.value == '' || serverStat_end.value == ''">Submit</button>
                                <button type="button" class="btn btn-secondary" (click)="[serverStat_region.value=1, serverStat_start.value='',serverStat_end.value='', serverStat_state.value=1, serverStat_reason.value='']">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<ng-template #modifyBundleId let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">번들아이디 수정</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <td style="width:40%;">Bundle ID</td>
                <td style="width:60%;">
                    <input type="number" pattern="\d+" class="form-control m-input" [placeholder]="bundleIdData[0].bundleID" [value]="bundleIdData[0].bundleID" #bundleID>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click')" [disabled]="bundleID.value == '' " (click)="setBundleID(bundleID.value)">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
