<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
						</span>
					</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    OPERATOR
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/operator/user-detail" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">유저 계정 관리</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/operator/server-maintenance" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-calendar-3"></i>
                    <span class="m-menu__link-text">서버 점검 설정</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/operator/notification-push" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-alarm-1"></i>
                    <span class="m-menu__link-text">푸쉬 전송</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/operator/notice-ingame" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-imac"></i>
                    <span class="m-menu__link-text">인게임 공지사항</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a href="#" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-confetti"></i>
                    <span class="m-menu__link-text">이벤트 (closed)</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    DATA ADMINISTRATOR
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/base/state" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-diagram"></i>
                    <span class="m-menu__link-text">지표 / 통계 바로 가기</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    SYSTEM ADMINISTRATOR
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/components/system/server-manage" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-settings-1"></i>
                    <span class="m-menu__link-text">서버 관리</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    SUPER ADMINISTRATOR
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a href="#" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-user-add"></i>
                    <span class="m-menu__link-text">운영툴 사용자 등록 및 수정(closed)</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
