<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				서버 관리 </h3>
		</div>
	</div>
</div><!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Set Servers Maintenance </h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<div class="table-responsive">
						<table class="table m-table">
							<thead class="thead-default">
							<tr>
								<th colspan="5">
									<button type="button" class="btn btn-primary btn-md" (click)="getServerStateList()">
										<i class="m-menu__link-icon flaticon-refresh m--padding-right-5"></i>새로고침
									</button>
									<button type="button" class="btn btn-info btn-md" (click)="setEditOpen(allKickUser)">
										<i class="m-menu__link-icon flaticon-users m--padding-right-5"></i>Kick All Users
									</button>
								</th>

								<th colspan="2" class="text-right" style="min-width:240px;">
									<span class="m--margin-right-10">All Server ON / OFF</span>
									<button type="button" class="btn btn-md" [ngClass]="{'btn-danger':!allServerOnSet, 'btn-info':allServerOnSet}" (click)="setEditOpen(allServerOn)">
										<i class="m-menu__link-icon flaticon-light m--padding-right-5"></i>{{allServerOnSet ? 'ON' : 'OFF'}}
									</button>
								</th>
								<th colspan="2" class="text-right" style="min-width:230px;">
									<span class="m--margin-right-10">All Server Update</span>
									<button type="button" class="btn btn-accent btn-md" (click)="setEditOpen(allServerUpdate)" [disabled]="!allServerOnSet">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</th>
							</tr>
							</thead>
							<tbody *ngIf="serverStatData[0]?.AGENT != undefined">
							<tr class="bg-primary text-white">
								<th class="text-center">#</th>
								<th class="text-center">Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">ID</th>
								<th class="text-center">Address</th>
								<th class="text-center">State</th>
								<th class="text-center">Users</th>
								<th class="text-center" style="min-width:100px;">Auto Res.</th>
								<th class="text-center" style="min-width:240px;">Controls</th>
							</tr>
							<tr *ngFor="let list of serverStatData[0]?.AGENT">
								<td scope="row" class="align-middle text-center">
									<span class="m-badge m-badge--brand m-badge--wide">AGENT</span>
								</td>
								<th class="align-middle text-center">{{list.ServerName}}</th>
								<td class="align-middle text-center">{{list.ServerType}}</td>
								<td class="align-middle text-center">{{list.ServerID}}</td>
								<td class="align-middle text-center">{{list.ServerAddress}}</td>
								<td class="align-middle text-center">
									<span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--info': list.State=='ACTIVE','m-badge--danger': list.State=='INACTIVE' }">{{list.State}}</span>
								</td>
								<td class="align-middle text-center">{{list.Concurrent}}</td>
								<td class="text-center">
									<label class="m-checkbox m-checkbox--square">
										<input type="checkbox" checked="true" #specAutoRestart> <span></span>
									</label>
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-success btn-sm" (click)="setSpecEditOpen(specServerOn, list.ServerName, list.State, specAutoRestart.checked)">
										<i class="m-menu__link-icon flaticon-computer m--padding-right-5"></i>ON/OFF
									</button>
									<button type="button" class="btn btn-accent btn-sm" (click)="setUpdateEditOpen(serverUpdate, list.ServerName, specAutoRestart.checked)" [disabled]="list.State=='INACTIVE'">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</td>
							</tr>
							</tbody>
							<tbody *ngIf="serverStatData[0]?.GAME != undefined">
							<tr class="bg-primary text-white">
								<th class="text-center">#</th>
								<th class="text-center">Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">ID</th>
								<th class="text-center">Address</th>
								<th class="text-center">State</th>
								<th class="text-center">Users</th>
								<th class="text-center">Auto Res.</th>
								<th class="text-center">Controls</th>
							</tr>
							<tr *ngFor="let list of serverStatData[0]?.GAME">
								<td scope="row" class="align-middle text-center">
									<span class="m-badge m-badge--brand m-badge--wide">GAME</span>
								</td>
								<th class="align-middle text-center">{{list.ServerName}}</th>
								<td class="align-middle text-center">{{list.ServerType}}</td>
								<td class="align-middle text-center">{{list.ServerID}}</td>
								<td class="align-middle text-center">{{list.ServerAddress}}</td>
								<td class="align-middle text-center">
									<span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--info': list.State=='ACTIVE','m-badge--danger': list.State=='INACTIVE' }">{{list.State}}</span>
								</td>
								<td class="align-middle text-center">{{list.Concurrent}}</td>
								<td class="text-center">
									<label class="m-checkbox m-checkbox--square">
										<input type="checkbox" checked="true" #specAutoRestart> <span></span>
									</label>
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-success btn-sm" (click)="setSpecEditOpen(specServerOn, list.ServerName, list.State, specAutoRestart.checked)">
										<i class="m-menu__link-icon flaticon-computer m--padding-right-5"></i>ON/OFF
									</button>
									<button type="button" class="btn btn-accent btn-sm" (click)="setUpdateEditOpen(serverUpdate, list.ServerName, specAutoRestart.checked)" [disabled]="list.State=='INACTIVE'">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</td>
							</tr>
							</tbody>
							<tbody *ngIf="serverStatData[0]?.HOST != undefined">
							<tr class="bg-primary text-white">
								<th class="text-center">#</th>
								<th class="text-center">Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">ID</th>
								<th class="text-center">Address</th>
								<th class="text-center">State</th>
								<th class="text-center">Users</th>
								<th class="text-center">Auto Res.</th>
								<th class="text-center">Controls</th>
							</tr>
							<tr *ngFor="let list of serverStatData[0]?.HOST">
								<td scope="row" class="align-middle text-center">
									<span class="m-badge m-badge--brand m-badge--wide">HOST</span>
								</td>
								<th class="align-middle text-center">{{list.ServerName}}</th>
								<td class="align-middle text-center">{{list.ServerType}}</td>
								<td class="align-middle text-center">{{list.ServerID}}</td>
								<td class="align-middle text-center">{{list.ServerAddress}}</td>
								<td class="align-middle text-center">
									<span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--info': list.State=='ACTIVE','m-badge--danger': list.State=='INACTIVE' }">{{list.State}}</span>
								</td>
								<td class="align-middle text-center">{{list.Concurrent}}</td>
								<td class="text-center">
									<label class="m-checkbox m-checkbox--square">
										<input type="checkbox" checked="true" #specAutoRestart> <span></span>
									</label>
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-success btn-sm" (click)="setSpecEditOpen(specServerOn, list.ServerName, list.State, specAutoRestart.checked)">
										<i class="m-menu__link-icon flaticon-computer m--padding-right-5"></i>ON/OFF
									</button>
									<button type="button" class="btn btn-accent btn-sm" (click)="setUpdateEditOpen(serverUpdate, list.ServerName, specAutoRestart.checked)" [disabled]="list.State=='INACTIVE'">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</td>
							</tr>
							</tbody>
							<tbody *ngIf="serverStatData[0]?.CACHE != undefined">
							<tr class="bg-primary text-white">
								<th class="text-center">#</th>
								<th class="text-center">Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">ID</th>
								<th class="text-center">Address</th>
								<th class="text-center">State</th>
								<th class="text-center">Users</th>
								<th class="text-center">Auto Res.</th>
								<th class="text-center">Controls</th>
							</tr>
							<tr *ngFor="let list of serverStatData[0]?.CACHE">
								<td scope="row" class="align-middle text-center">
									<span class="m-badge m-badge--brand m-badge--wide">CACHE</span>
								</td>
								<th class="align-middle text-center">{{list.ServerName}}</th>
								<td class="align-middle text-center">{{list.ServerType}}</td>
								<td class="align-middle text-center">{{list.ServerID}}</td>
								<td class="align-middle text-center">{{list.ServerAddress}}</td>
								<td class="align-middle text-center">
									<span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--info': list.State=='ACTIVE','m-badge--danger': list.State=='INACTIVE' }">{{list.State}}</span>
								</td>
								<td class="align-middle text-center">{{list.Concurrent}}</td>
								<td class="text-center">
									<label class="m-checkbox m-checkbox--square">
										<input type="checkbox" checked="true" #specAutoRestart> <span></span>
									</label>
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-success btn-sm" (click)="setSpecEditOpen(specServerOn, list.ServerName, list.State, specAutoRestart.checked)">
										<i class="m-menu__link-icon flaticon-computer m--padding-right-5"></i>ON/OFF
									</button>
									<button type="button" class="btn btn-accent btn-sm" (click)="setUpdateEditOpen(serverUpdate, list.ServerName, specAutoRestart.checked)" [disabled]="list.State=='INACTIVE'">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</td>
							</tr>
							</tbody>
							<tbody *ngIf="serverStatData[0]?.MONITORING != undefined">
							<tr class="bg-primary text-white">
								<th class="text-center">#</th>
								<th class="text-center">Name</th>
								<th class="text-center">Type</th>
								<th class="text-center">ID</th>
								<th class="text-center">Address</th>
								<th class="text-center">State</th>
								<th class="text-center">Users</th>
								<th class="text-center">Auto Res.</th>
								<th class="text-center">Controls</th>
							</tr>
							<tr *ngFor="let list of serverStatData[0]?.MONITORING">
								<td scope="row" class="align-middle text-center">
									<span class="m-badge m-badge--brand m-badge--wide">MONITORING</span>
								</td>
								<th class="align-middle text-center">{{list.ServerName}}</th>
								<td class="align-middle text-center">{{list.ServerType}}</td>
								<td class="align-middle text-center">{{list.ServerID}}</td>
								<td class="align-middle text-center">{{list.ServerAddress}}</td>
								<td class="align-middle text-center">
									<span class="m-badge m-badge--wide m-badge--rounded" [ngClass]="{'m-badge--info': list.State=='ACTIVE','m-badge--danger': list.State=='INACTIVE' }">{{list.State}}</span>
								</td>
								<td class="align-middle text-center">{{list.Concurrent}}</td>
								<td class="text-center">
									<label class="m-checkbox m-checkbox--square">
										<input type="checkbox" checked="true" #specAutoRestart> <span></span>
									</label>
								</td>
								<td class="align-middle text-center">
									<button type="button" class="btn btn-success btn-sm" (click)="setSpecEditOpen(specServerOn, list.ServerName, list.State, specAutoRestart.checked)">
										<i class="m-menu__link-icon flaticon-computer m--padding-right-5"></i>ON/OFF
									</button>
									<button type="button" class="btn btn-accent btn-sm" (click)="setUpdateEditOpen(serverUpdate, list.ServerName, specAutoRestart.checked)" [disabled]="list.State=='INACTIVE'">
										<i class="m-menu__link-icon flaticon-cogwheel m--padding-right-5"></i>UPDATE
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--end::Form-->
	</div>
</div>
<ng-template #allServerOn let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">전체서버 ON/OFF</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-hover">
			<tbody>
			<tr>
				<td style="width:40%;" class="align-middle">모든 서버 ON / OFF</td>
				<td style="width:60%;">
                     <span class="m-switch m-switch--outline m-switch--icon m-switch--danger align-middle">
                        <label style="display:block; margin-bottom:0;">
                            <input type="checkbox" [checked]="allServerOnSet" name="" #serverAllBoo>
                            <span></span>
                        </label>
                    </span>
				</td>
			</tr>
			<tr>
				<td style="width:40%;">Auto Restart</td>
				<td>
					<label class="m-checkbox m-checkbox--square">
						<input type="checkbox" [checked]="allServerArSet" #serverAllAr>
						<span></span>
					</label>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="getCheckStatAllServer(serverAllBoo.checked, serverAllAr.checked)">Submit</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</ng-template>
<ng-template #allServerUpdate let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">전체서버 Update</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-hover">
			<tbody>
			<tr>
				<td class="text-center">전체서버 업데이트를 하시겠습니까?</td>
			</tr>
			<tr>
				<td class="text-center">
					<label class="m-checkbox m-checkbox--square">
						<input type="checkbox" [checked]="allServerUpArSet" #serverAllUpAr>Auto Restart
						<span></span> </label>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="getServerAllUpdate(serverAllUpAr.checked)">Update</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</ng-template>
<ng-template #specServerOn let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{nowClickServerName}} 서버 ON/OFF</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-hover">
			<tbody>
			<tr>
				<td style="width:40%;">서버 이름</td>
				<td style="width:60%;">{{nowClickServerName}}</td>
			</tr>
			<tr>
				<td style="width:40%;">서버 ON/OFF</td>
				<td style="width:60%;">
                     <span class="m-switch m-switch--outline m-switch--icon m-switch--success align-middle">
                        <label style="display:block; margin-bottom:0;">
                            <input type="checkbox" [checked]="serverOnSet" name="" #serverOnOff>
                            <span></span>
                        </label>
                    </span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="getCheckStatServer(serverOnOff.checked, serverArSet, nowClickServerName)">Submit</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</ng-template>
<ng-template #serverUpdate let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{nowClickServerName}} 서버 Update</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-hover">
			<tbody>
			<tr>
				<td class="text-center">{{nowClickServerName}} 서버를 업데이트를 하시겠습니까?</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="getServerUpdate(nowClickServerName, serverArSet)">Update</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</ng-template>
<ng-template #allKickUser let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Kick All User</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-hover">
			<tbody>
			<tr>
				<td style="width:40%;" class="align-middle text-center">메시지 입력</td>
				<td style="width:60%;">
					<textarea class="form-control m-input" rows="3" placeholder="Reason is.." #kickReason required></textarea>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="getAllKickUser(kickReason.value)" [disabled]="kickReason.value == ''">Submit</button>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
	</div>
</ng-template>